.bookDetail {
	display: flex;
	position: relative;
	margin-bottom: 40px;
	padding: 10px;

	.bookDetail__img {
		margin-right: 15px;
	}

	.bookDetail__notes {
		position: absolute;
    bottom: 16px;
	}
}
